[workspace]
resolver = "3"
members = ["crates/curator", "crates/curator_cli"]

[workspace.package]
version = "0.1.3"

[workspace.metadata.crane]
name = "curator"

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
